html{
    background-color: black;
}
body{
    Position:absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    display: flex;
    width: 620px; height: 720px;
    border: black solid 1px;
    background-color: white;}
.logohtml5{
    font-size: 3.5rem;
    display: flex;
    padding: 3%;
    align-self: center;}
    
.trespuntos{
    font-size: 2rem;
    text-align: center;
    margin: auto;
    margin-right: 10px;}
.prado{
    width: 620px;
    border-bottom: solid black 1px;
    border-top: solid black 1px;}
.username{
    padding: 10px;
    height: 40px;
    width: 450px;
    font-size: 18px;}
.icono-abajo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;}
.icons{
    width: 420px;
    display: flex;
    height: 30px;
    font-size: 2rem;
    margin: 5px;}    
.icons > i{
    margin: 0px 5px;}
.iconsave{
    text-align: right;
    font-size: 2rem;
    height: 20px;
    margin-top: 0;
padding-right: 5px;}
.like-section{
    width: auto;
    padding-left: 2%;}
.comment{
    font-family: 'Domine', serif;
    font-size: 16px;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: space-evenly;}